.landing-section {
    height: 100vh !important;
    background-color: #072534;
    .form-group {
        margin-bottom: 0 !important;
        .custom-search-input {
            border-radius: 0;
            border: 0;
            font: 15px $roboto;
            &::placeholder {
                font: 15px $roboto;
            }
        }
    }
    .wrap-section {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        .table-wrapper {
            border: 1px solid #fff;
            height: 400px;
            overflow-y: auto;
            .custom-table {
                thead {
                    tr {
                        th {
                            font: 15px $roboto;
                            color: $font-white;
                            &:nth-child(2) {
                                color: #dc3545;
                            }
                            &:nth-child(3) {
                                color: #007bff;
                            }
                            &:nth-child(4) {
                                color: #28a745;
                            }
                            &:nth-child(5) {
                                color: #6c757d;
                            }
                            &:nth-child(6) {
                                color: #ffc107;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        &:first-child {
                            display: none;
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                        &:hover {
                            background-color: $font-black;
                        }
                        td {
                            font: 15px $roboto;
                            color: $font-white;
                            border: 0;
                            &:nth-child(2) {
                                color: #dc3545;
                            }
                            &:nth-child(3) {
                                color: #007bff;
                            }
                            &:nth-child(4) {
                                color: #28a745;
                            }
                            &:nth-child(5) {
                                color: #6c757d;
                            }
                            &:nth-child(6) {
                                color: #ffc107;
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-data {
    color: #dc3545;
    font: 15px $roboto;
}

.modal {
    z-index: 1299;
    backdrop-filter: blur(10px);
    .modal-dialog {
        .modal-content {
            .modal-header {
                .modal-title {
                    font: 25px $roboto;
                }
            }
            .modal-body {
                .form-control {
                    font: 15px $roboto;
                    margin-bottom: 10px;
                    option {
                        font: 15px $roboto;
                    }
                    &:focus {
                        @include box-shadow(none);
                        border-color: #ced4da;
                    }
                }
                .data-wrapper {
                    h1 {
                        font: 20px $roboto;
                        color: #372d72;
                        padding: 5px 0 10px 0;
                        margin-bottom: 0;
                    }
                    .col-wrapper {
                        h1 {
                            font-weight: 600;
                        }
                        .loading {
                            font: 15px $roboto;
                        }
                        .confirmed {
                            color: #dc3545;
                        }
                        .active {
                            color: #007bff;
                        }
                        .recovered {
                            color: #28a745;
                        }
                        .death {
                            color: #6c757d;
                        }
                    }
                    svg {
                        width: 200px;
                        display: block;
                        margin: auto;
                    }
                }
            }
            .modal-footer {
                border-top: 1px dashed;
                button {
                    &:first-child {
                        background-color: transparent;
                        font: 15px $roboto;
                        color: $font-black;
                        border: none;
                    }
                    &:last-child {
                        background-color: #2fdf84;
                        font: 15px $roboto;
                        border: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.image-grid {
    height: 100vh !important;
    background-color: $black-gradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        font: 35px $roboto;
        color: $font-white;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .select-countries-heading {
        width: 300px;
        font-size: 15px;
        background: #fff;
        color: #000;
        padding: 15px;
        margin-bottom: 0;
        border-bottom: 1px solid #dedede;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    input[type="text"] {
        width: 300px;
        padding: 10px;
        border: 0;
        border-bottom: 1px solid #ccc;
        font: 15px $roboto;
        &:focus {
            outline: 0;
        }
        &::placeholder {
            font: 15px $roboto;
        }
    }
    .countries-wrapper {
        width: 300px;
        height: 300px;
        overflow-y: scroll;
        background-color: $font-white;
        ul {
            list-style-type: none;
            margin-bottom: 0;
            height: 100%;
            li {
                font: 15px $roboto;
                color: $font-black;
                cursor: pointer;
                border-bottom: 1px solid #dedede;
                margin-bottom: 10px;
                padding: 10px;
                img {
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
    .data-wrapper {
        background-color: $font-white;
        @include border-radius(5px);
        padding: 10px;
        h1 {
            color: #372d72;
            font: 20px $roboto;
            padding-bottom: 5px;
        }
        .inner-data-wrapper {
            border: 1px solid #dedede;
            padding: 10px;
            margin-bottom: 10px;
            .loading-data {
                font: 15px $roboto !important;
            }
            h1 {
                font: 25px $roboto !important;
                color: $black-gradient;
                text-align: center;
                margin-bottom: 0;
                border-bottom: 0;
                padding-bottom: 10px;
            }
            .confirmedCase {
                color: #dc3545;
            }
            .activeCase {
                color: #007bff;
            }
            .recoveredCase {
                color: #28a745;
            }
            .deathCase {
                color: #6c757d;
            }
        }
    }
}

.third-section {
    @extend .landing-section;
    display: flex;
    align-items: center;
    background-color: $teal !important;
    h1 {
        font-size: 200px !important;
        height: 200px;
        color: $font-white !important;
    }
    p {
        color: $font-white !important;
    }
}

.todo-wrapper {
    height: 100vh;
    background-color: $yellow;
    display: flex;
    align-items: center;
    input {
        display: block;
        padding: 10px;
        width: 60%;
        border-radius: 5px;
        border: 0;
        font: 15px $roboto;
        &::placeholder {
            font: 15px $roboto;
        }
    }
    h1 {
        font: 20px $roboto;
        text-transform: capitalize;
        padding-top: 10px;
    }
    button {
        background-color: #28a745;
        font: 15px $roboto;
        margin-top: 10px;
    }
    .todo-list {
        h1 {
            background-color: $black-gradient;
            color: $font-white;
            margin-bottom: 0;
            padding: 5px;
        }
        .task-list {
            width: 50%;
            border: 1px solid #000;
            border-radius: 5px;
            height: 250px;
            overflow-y: auto;
            ul {
                li {
                    font: 15px $roboto;
                    text-transform: capitalize;
                    padding: 10px 0 10px 10px;
                }
            }
        }
    }
}