.landing-section {
    height: 100vh;
    background-color: $yellow;
    .wrap-section {
        position: relative;
        // display: flex;
        // align-items: center;
        // text-align: center;
        width: 100%;
        height: 100vh;
        h1 {
            padding-top: 50px;
            color: $font-black;
            font: 40px $roboto;
        }
        .grid-center {
            padding-top: 100px;
            .grid-wrapper {
                padding: 10px;
                background-color: $font-black;
                @include border-radius(5px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
                p {
                    color: $font-white;
                }
                h1 {
                    padding-top: 0;
                }
            }
            .custom {
                &:nth-of-type(1) {
                    .grid-wrapper {
                        h1 {
                            color: #bf591d;
                        }
                    }
                }
                &:nth-of-type(2) {
                    .grid-wrapper {
                        h1 {
                            color: #7651ba;
                        }
                    }
                }
                &:nth-of-type(3) {
                    .grid-wrapper {
                        h1 {
                            color: #2146ad;
                        }
                    }
                }
                &:nth-of-type(4) {
                    .grid-wrapper {
                        h1 {
                            color: #9c3250;
                        }
                    }
                }
            }
        }
        img {
            width: 50px;
            position: absolute;
            bottom: 50px;
            left: 50%;
        }
    }
}

.image-grid {
    height: 100vh;
    background-color: $teal;
    display: flex;
    align-items: center;
    .img-wrapper {
        img {
            height: 400px;
            @include border-radius(5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
        }
    }
}

.third-section {
    @extend .landing-section;
    display: flex;
    align-items: center;
    background-color: $black-gradient !important;
    h1 {
        font-size: 200px !important;
        height: 200px;
        color: $font-white !important;
    }
    p {
        color: $font-white !important;
    }
}